@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #bcbcbc;
    font-family: 'Poppins', sans-serif;
}

#principal {
    width: 85%;
    height: 80%;
    background: #EDEDED;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: auto;
}

#principal h1 {
    font-size: 2.25rem;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
}

/* #principal div {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
} */

.boton {
    width: 175px;
    height: 50px;
    background: #DA0037;
    border-radius: 15px;
    border: 5px solid #c50031;
    color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    grid-row-start: 3;
    align-self: center;
    justify-self: center;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #171717;
        color: #EDEDED;
    }

    #principal {
        background: #444444;
    }
}

@media only Screen and (max-width: 720px) {
    #principal {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 87%;
        justify-content: space-evenly;
        }

    #principal h1 {
        font-size: 1.5rem;
    }

    .boton {
    }
}