/* ######## TAGs ######## */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    
}

/* ######## IDs ######## */

#word-input {
    grid-column: 1;
    grid-row: 1;

    background: #313131;
    display: flex;
    align-items: center;
}

#word-list {

    grid-column: 1;
    grid-row: 2;

    background: #1b1b1b;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

#word-list a {
    /* background: rgb(48, 155, 204);
    border-radius: 2px;
    margin: 5px;
    padding: 2px;
    height: fit-content; */
    user-select: none;
    /* overflow: auto;
    color: black; */
    color: #5f9ea0;
    text-decoration: none;
}

#word-list ol {
    height: 100%;
    width: 100%;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
}

#word-list ol li {
    margin-right: 30px;
    padding: 15px;
}

#tree-display {

    grid-column: 2;
    grid-row: 1 / 3;

    height: 100%;
    height: 100%;
    background: #757575;
}

#txt-words {
    margin: auto;
    background: none;
    border: none;
    font-size: 4rem;
    color: white;
    width: 100%;
    padding: 1rem;
}

#txt-words:focus {
    outline: none;
}

#mynetwork {
    
    grid-column: 2;
    grid-row: 1 / 3;

    border: 1px solid lightgray;
    background-color: #ffffff;
}

#atras {
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    aspect-ratio: 1/1;
}